b, h5 { 
	font-weight:bold; 
}

td.text-justify {
	border-bottom-style: dotted;
	border-width: 1px;
	border-color: #808080;
}

.border-bottom {
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #808080;
}

.border {
	border-style: solid;
	border-width: 1px;
	border-color: #808080;
	padding: 4px;
}

.pagebreak {
	page-break-before: always;
}