<div class="modal-body">
    <div data-aos="zoom-in">
        <h1>
            <button class="btn btn-primary float-right" id="btn-novo-colocacao"><i class="fas fa-plus"></i> Novo</button>
            <i class="fas fa-futbol"></i> Premiação
        </h1>
        
        <table id="datatable-colocacao" class="table table-hover" style="width:100%">
            <thead class="bg-primary text-light">
                <tr>
                    <th>Premiação</th>
                    <th>Porcentagem</th>
                    <th>Atualizado</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script src='js/colocacao.js'></script>