<form role="form">
    <div class="h2 text-center">
        <img src="img/logo.png" class="img-fluid">
    </div>
    <div class="modal-body">
        <fieldset>
            <legend class="text-center">Recuperar Senha</legend>
            <hr>
            <div class="form-group">
                <label for="email">E-mail</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text color-primary-icons" id="basic-addon1">
                            <i class="fas fa-envelope text-light"></i>
                        </span>
                    </div>
                    <input type="email" id="email" class="form-control" placeholder="Digite seu email" name="email" required>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <alert class='lead'></alert>
        <buttons>
            <button class='btn btn-danger hvr-grow' type='button' id='btn-cancelar'>
                <i class="fas fa-ban"></i> Cancelar
            </button>
            <button class='btn btn-success hvr-grow' type='submit' id='btn-entrar'>
                Recuperar <i class="fas fa-sign-in-alt"></i>
            </button>
        </buttons>
    </div>
</form>
<script src="js/esqueceu-senha.js"></script>