<div class="text-center text-md-left">
    <div class="row">
        <div class="col-sm-3 border-footer">
            <h4>Navegação</h4>
            <ul class="list-unstyled">
                <li>
                    <a href="#" class="hvr-float-shadow">
                        <i class="fas fa-home"></i> Home
                    </a>
                </li>
                <li>
                    <a href="#" class="hvr-float-shadow">
                        <i class="fas fa-user-plus"></i> Cadastrar-se
                    </a>
                </li>
                <li>
                    <a href="#" class="hvr-float-shadow">
                        <i class="fas fa-sign-in-alt"></i> Entrar
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-3 border-footer">
            <h4>Contatos</h4>
            <a href="https://api.whatsapp.com/send?phone=559182750198" class="btn btn-block btn-social btn-success">
                <span class="fa fa-whatsapp"></span>Chame no whatsapp
            </a>
        </div>
        <div class="col-sm-3 border-footer">
            <h4>Regras</h4>
            <ul class="list-unstyled">
                <li>
                    <a href="#" data-toggle="modal" id="end" data-target="#modal" class="hvr-float-shadow">
                        Termos de Uso
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" id="end" data-target="#modal" class="hvr-float-shadow">
                        Políticas de Privacidade
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-3 border-footer">
            <h4>Redes Sociais</h4>
            <a href="https://www.facebook.com/Oficina-Comercio-e-Servi%C3%A7os-111771137116412/"
                class="btn btn-block btn-social btn-facebook">
                <span class="fa fa-facebook"></span>Curta no Facebook
            </a>
            <a href="https://www.instagram.com/oficinacomercioeservicos/?hl=pt-br"
                class="btn btn-block btn-social btn-instagram">
                <span class="fa fa-instagram"></span>Siga no Instagram
            </a>
            <a href="linkedin.com/in/oficina-comercio-e-serviços-4977b71a5"
                class="btn btn-block btn-social btn-pinterest">
                <span class="fa fa-youtube"></span>Inscreva-se
            </a>
        </div>
    </div>
</div>
<hr>
<!-- Copyright -->
<div class="text-center footer-bottom">
    GOL SCORES ® Copyright - Versão 0.11.9
</div>