<h1 class="text-center">Risco Gestacional - RIGEST</h1>
<div class="text-center">
    <img src="img/logo.png" class="img-thumbnail" width="200" height="200">
    <p>
        FUNDAÇÃO SANTA CASA DE MISERICÓRDIA DO PARÁ <br>
        DIRETORIA DE ENSINO, PESQUISA E EXTENSÃO <br>
        PROGRAMA DE PÓS-GRADUAÇÃO EM GESTÃO E SAÚDE NA AMAZÔNIA <br>
        CURSO MESTRADO PROFISSIONAL GESTÃO E SERVIÇOS EM SAÚDE.
    </p>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card shadow">
            <div class="card-header">
                <h3>O que é o Rigest?</h3>
            </div>
            <div class="card-body">
                <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card shadow">
            <div class="card-header">
                <h3>Como usar o RIGEST?</h3>
            </div>
            <div class="card-body">
                <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
            </div>
        </div>
    </div>
</div>