<div class="modal-body">
    <div data-aos="zoom-in">
        <h1>
            <button class="btn btn-primary float-right" id="btn-novo-jogo"><i class="fas fa-plus"></i> Novo</button>
            <i class="fas fa-futbol"></i> Jogos da Rodada
        </h1>
        
        <table id="datatable-jogo" class="table table-hover" style="width:100%">
            <thead class="bg-primary text-light">
                <tr>
                    <th>Time 1</th>
                    <th>Time 2</th>
                    <th>Data</th>
                    <th>Atualizado</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script src='js/jogo.js'></script>