<form data-aos="zoom-in" role="form" id="form-jogo">
    <div class="modal-body">
        <input hidden name='idjogo'>
        <div class="form-group">
            <label for="campeonato_id">Campeonato</label>
            <select class='form-control selectpicker' name='campeonato_id' id="campeonato_id" data-live-search='true' data-actions-box='true' required></select>
        </div>
        <div class="row text-center">
            <div class="col-sm-12 col-lg-6 col-md-12">
                <img src="" alt="Foto Time 1" id="foto_time1" class="img-fluid img-thumbnail">
                <br>
                <label for='time1'>Time 1</label>
                <select class='form-control selectpicker' name='time1' data-live-search='true' data-actions-box='true' required></select>
            </div>
            <div class="col-sm-12 col-lg-6 col-md-12">
                <img src="" alt="Foto Time 1" id="foto_time2" class="img-fluid img-thumbnail">
                <br>
                <label for='time1'>Time 2</label>
                <select class='form-control selectpicker' name='time2' data-live-search='true' data-actions-box='true' required></select>
            </div>
        </div>
        <div class="form-group">
            <label for="dt_jogo">Data do Jogo</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text color-primary-icons" id="basic-addon1">
                        <i class="fas fa-calendar"></i>
                    </span>
                </div>
                <input class='form-control' type='datetime-local' id='dt_jogo' name='dt_jogo' required>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <buttons>
            <button class="btn btn-success hvr-grow" type="submit">
                <i class="fas fa-save"></i>
                Salvar
            </button>
            <button class="btn btn-danger hvr-grow" id="btn-excluir" type="button">
                <i class="fas fa-trash"></i>
                Excluir
            </button>
            <button class="btn btn-dark hvr-grow" id="btn-cancelar" type="button">
                <i class="fas fa-ban"></i>
                Cancelar
            </button>
        </buttons>
        <alert class='lead'></alert>
    </div>
</form>

<script src='js/jogo-form.js'></script>