<h1>GOL SCORES | EM DESENVOLVIMENTO...</h1>
<fieldset>
    <legend>Lista de Tarefas</legend>
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item bg-success text-light">Login</li>
            <li class="list-group-item bg-success text-light">Cadastro de Usuário</li>
            <li class="list-group-item bg-success text-light">Mudar Senha</li>
            <li class="list-group-item bg-success text-light">Perfil</li>
            <li class="list-group-item bg-success text-light">Cadastrar-se</li>
            <li class="list-group-item bg-success text-light">Esqueceu Senha</li>
            <li class="list-group-item bg-success text-light">Cadastrar Time</li>
            <li class="list-group-item bg-success text-light">Cadastrar Campeonato</li>
            <li class="list-group-item bg-success text-light">Cadastrar Forma de Pagamento</li>
            <li class="list-group-item bg-primary text-light">Cadastrar Rodada</li>
            <li class="list-group-item bg-primary text-light">Cadastrar Pontuação</li>
            <li class="list-group-item bg-danger text-light">Home</li>
            <li class="list-group-item bg-danger text-light">Minha Carteira</li>
            <li class="list-group-item bg-danger text-light">Consultar Aposta</li>
            <li class="list-group-item bg-danger text-light">Validar Aposta</li>
            <li class="list-group-item bg-danger text-light">Dashboard</li>
            <li class="list-group-item bg-danger text-light">Relatório</li>
        </ul>
    </div>
</fieldset>
<!-- <div>
    <h1>Painel de Controle</h1>
    </br>
    <div class="container">
        <div class="row text-secondary">
            <div class="col-xl-12 pb-10 mb-1">
                <div class="card shadow h-40">
                    <div class="card-body">
                        <div class="row">
                             AGENDADAS 
                            <div class="col-xl col-md-4 col-sm-6 mb-1">
                                <div class="card border-left-danger shadow">
                                    <div class="card-header">
                                        <h6 class="font-weight-bold text-danger">PENDENTE</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div id="pendente" class="col-8 h2 mb-0 font-weight-bold text-gray-800">0
                                            </div>
                                            <div class="col-4">
                                                <i class="fas fa-times-circle fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
    
                                    </div>
                                </div>
                            </div>
    
                             ATRASADAS 
                            <div class="col-xl col-md-4 col-sm-6 mb-1">
                                <div class="card border-left-info shadow h-30">
                                    <div class="card-header">
                                        <h6 class="font-weight-bold text-info">ENVIADO</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div id="enviado" class="col-8 h2 mb-0 font-weight-bold text-gray-800">0</div>
                                            <div class="col-4">
                                                <i class="fa fa-hourglass-half fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                             EM ANDAMENTO 
                            <div class="col-xl col-md-4 col-sm-6 mb-1">
                                <div class="card border-left-primary shadow h-30">
                                    <div class="card-header">
                                        <h6 class="font-weight-bold text-primary">ANÁLISE</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div id="analise" class="col-8 h2 mb-0 font-weight-bold text-gray-800">0
                                            </div>
                                            <div class="col-4">
                                                <i class="fa fa-edit fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                             FINALIZADA 
                            <div class="col-xl col-md-4 col-sm-6 mb-1">
                                <div class="card border-left-warning shadow h-30">
                                    <div class="card-header">
                                        <h6 class="font-weight-bold text-warning">ENCAMINHADO</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div id="encaminhado" class="col-8 h2 mb-0 font-weight-bold text-gray-800">0
                                            </div>
                                            <div class="col-4">
                                                <i class="fa fa-thumbs-up fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                             FINALIZADA 
                            <div class="col-xl col-md-4 col-sm-6 mb-1">
                                <div class="card border-left-success shadow h-30">
                                    <div class="card-header">
                                        <h6 class="font-weight-bold text-success">CONCLUÍDO</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div id="concluido" class="col-8 h2 mb-0 font-weight-bold text-gray-800">0
                                            </div>
                                            <div class="col-4">
                                                <i class="fa fa-thumbs-up fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-xl col-md-4 col-sm-6 mb-1">
                                <div class="card border-Faded shadow h-30">
                                    <div class="card-header">
                                        <h6 class="font-weight-bold text-Inverse">Total</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div id="total" class="col-8 h2 mb-0 font-weight-bold text-gray-800">0</div>
                                            <div class="col-4">
                                                <i class="fa fa-calculator fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mt-4">
                <div class="card shadow">
                    <canvas id="chart-solicitacoes" height="300"></canvas>
                </div>
            </div>
            <div class="col-sm-6 mt-4">
                <div class="card shadow">
                    <canvas id="chart-regional" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/painel-controle.js"></script> -->