<div>
    <h1>Painel de Controle</h1>
    </br>
    <div class="container">
        <div class="row text-secondary">
            <div class="col-xl-12 pb-10 mb-1">
                <div class="card shadow h-40">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card border-left-secondary shadow h-40">
                                    <div class="card-header bg-primary">
                                        <h5 class="font-weight-bold text-light">
                                            <i class="fas fa-wheelchair" aria-hidden="true"></i>
                                            Solicitar equipamento de locomoção
                                        </h5>
                                    </div>
                                    <button class="card-body btn btn-primary" type="button" id="solicitacao">
                                        <h3>Acessar</h3>
                                    </button>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="card border-left-secondary shadow h-40">
                                    <div class="card-header bg-primary">
                                        <h5 class="font-weight-bold text-light">
                                            <i class="fas fa-eye" aria-hidden="true"></i>
                                            Acompanhar Solicitação
                                        </h5>
                                    </div>
                                    <button class="card-body btn btn-primary" type="button" id="solicitacao-acompanhar">
                                        <h3>Acessar</h3>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card border-left-secondary shadow h-40">
                                    <div class="card-header bg-primary">
                                        <h5 class="font-weight-bold text-light">
                                            <i class="fas fa-lock" aria-hidden="true"></i>
                                            Mudar Senha
                                        </h5>
                                    </div>
                                    <button class="card-body btn btn-primary" type="button" id="mudasenha">
                                        <h3>Acessar</h3>
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card border-left-secondary shadow h-40">
                                    <div class="card-header bg-primary">
                                        <h5 class="font-weight-bold text-light">
                                            <i class="fas fa-user" aria-hidden="true"></i>
                                            Editar perfil
                                        </h5>
                                    </div>
                                    <button class="card-body btn btn-primary" type="button" id="perfil-form">
                                        <h3>Acessar</h3>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card border-left-secondary shadow h-40">
                                    <div class="card-header bg-primary">
                                        <h5 class="font-weight-bold text-light">
                                            SECRETARIA DE ASSISTÊNCIA À SAÚDE PORTARIA Nº 185, DE 5 DE JUNHO DE 2001
                                        </h5>
                                    </div>
                                    <a href="docs/portaria.pdf" target="_blank" class="card-body btn btn-primary" type="button" id="mudasenha">
                                        <h3>Acessar</h3>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card border-left-secondary shadow h-40">
                                    <div class="card-header bg-primary">
                                        <h5 class="font-weight-bold text-light">
                                            Guia de Manutencão de Orteses e Proteses auxiliares de locomocão
                                        </h5>
                                    </div>
                                    <a href="docs/guia.pdf" target="_blank" class="card-body btn btn-primary" type="button" id="perfil-form">
                                        <h3>Acessar</h3>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/painel-controle-externo.js"></script>