<form role="form">
    <div class="card">
        <div class="card-header">
            <h3>Perfil de Usuário</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-lg-6 col-md-12">
                    <label for='nome'>Nome</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text color-primary-icons" id="basic-addon1">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                        <input class='form-control' type='text' id='nome' name='nome'
                            placeholder='Digite o nome completo do usuário' maxlength="50" required>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6 col-md-12">
                    <label>E-mail</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text color-primary-icons" id="basic-addon1">
                                <i class="fas fa-envelope "></i>
                            </span>
                        </div>
                        <input class='form-control' type='email' id='email' name='email'
                            placeholder='Digite o e-mail do usuário' maxlength="50" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-4 col-md-12">
                    <label>Contato</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text color-primary-icons" id="basic-addon1">
                                <i class="fas fa-phone text-light"></i>
                            </span>
                        </div>
                        <input class='form-control' type='text' id='contato' name='contato'
                            placeholder='Digite o contato do usuário' maxlength="50" required>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4 col-md-12">
                    <label for="cartao_sus">CENES</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text color-primary-icons" id="basic-addon1">
                                <i class="fas fa-id-card-alt"></i>
                            </span>
                        </div>
                        <input class='form-control cartao_sus' type='text' id='cartao_sus' name='cartao_sus'
                            placeholder='Digite o CENES do usuário' maxlength="50" required>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4 col-md-12">
                    <label for="cbo">CBO</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text color-primary-icons" id="basic-addon1">
                                <i class="fas fa-id-card-alt "></i>
                            </span>
                        </div>
                        <input class='form-control' type='text' id='cbo' name='cbo'
                            placeholder='Digite o CBO do usuário' maxlength="10" required>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <buttons>
                    <button class="btn btn-success hvr-grow" type="submit">
                        <i class="fas fa-save"></i>
                        Salvar
                    </button>
                </buttons>
                <alert class='lead'></alert>
            </div>
        </div>
</form>
<script src="js/perfil.js"></script>