<form role="form">
    <div class="modal-body">
        <input hidden name='idrodada'>
        <div class="row">
            <div class="col-sm-12 col-lg-4 col-md-12">
                <label for='nome'>Nome</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text color-primary-icons" id="basic-addon1">
                            <i class="fas fa-futbol"></i>
                        </span>
                    </div>
                    <input class='form-control' type='text' id='nome' name='nome' placeholder='Digite o nome da rodada'
                        maxlength="50" required>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 col-md-12">
                <label for='valor'>Valor</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text color-primary-icons" id="basic-addon1">
                            <i class="fas fa-money-bill-wave"></i>
                        </span>
                    </div>
                    <input class='form-control' type='number' id='valor' name='valor' placeholder='Digite o valor da rodada'
                        maxlength="10" required>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 col-md-12">
                <label for='taxa'>Taxa Administrativa</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text color-primary-icons" id="basic-addon1">
                            <i class="fas fa-percentage"></i>
                        </span>
                    </div>
                    <input class='form-control' type='number' id='taxa' name='taxa' placeholder='Digite o valor da taxa administrativa' maxlength="10" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-md-12">
                <label for='dt_inicio_inscricao'>Data Início da Inscrição</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text color-primary-icons" id="basic-addon1">
                            <i class="fas fa-calendar"></i>
                        </span>
                    </div>
                    <input class='form-control' type='datetime-local' id='dt_inicio_inscricao' name='dt_inicio_inscricao' required>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-md-12">
                <label for='dt_fim_inscricao'>Data Fim da Inscrição</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text color-primary-icons" id="basic-addon1">
                            <i class="fas fa-calendar"></i>
                        </span>
                    </div>
                    <input class='form-control' type='datetime-local' id='dt_fim_inscricao' name='dt_fim_inscricao' required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for='pontuacao_id'>Pontuação</label>
            <select class='form-control selectpicker' name='pontuacao_id' id="pontuacao_id" data-live-search='true' data-actions-box='true' required></select>
        </div>
    </div>
    <div class="modal-footer">
        <buttons>
            <button class="btn btn-success hvr-grow" type="submit">
                <i class="fas fa-save"></i>
                Salvar
            </button>
        </buttons>
        <alert class='lead'></alert>
    </div>
</form>

<script src='js/rodada-form.js'></script>