<form role="form">
    <div class="modal-header">
        <h4 class='modal-title'></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">&times;</button>
    </div>
    <div class="modal-body">
        <input type='hidden' name='idusuario'>
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-md-12">
                <label for='nome'>Nome</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text color-primary-icons" id="basic-addon1">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                    <input class='form-control' type='text' id='nome' name='nome'
                        placeholder='Digite o nome completo do usuário' maxlength="50" required>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-md-12">
                <label>E-mail</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text color-primary-icons" id="basic-addon1">
                            <i class="fas fa-envelope text-light"></i>
                        </span>
                    </div>
                    <input class='form-control' type='email' id='email' name='email'
                        placeholder='Digite o e-mail do usuário' maxlength="50" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-md-12">
                <label>Contato</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text color-primary-icons" id="basic-addon1">
                            <i class="fas fa-phone text-light"></i>
                        </span>
                    </div>
                    <input class='form-control' type='text' id='contato' name='contato'
                        placeholder='Digite o contato do usuário' maxlength="50" required>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-md-12">
                <label>CPF</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text color-primary-icons" id="basic-addon1">
                            <i class="fas fa-id-card-alt text-light"></i>
                        </span>
                    </div>
                    <input class='form-control' type='text' id='cpf' name='cpf' placeholder='Digite o cpf do usuário'
                        maxlength="50" required>
                </div>
            </div>
        </div>
        <div class='form-group'>
            <label for='permissao'>Permissões</label>
            <select class='form-control selectpicker' name='permissao[]' data-live-search='true' data-actions-box='true'
                required multiple></select>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="ativado" name='ativado'>
            <label class="form-check-label" for="ativado">Ativado</label>
        </div>
    </div>
    <div class="modal-footer">
        <buttons>
            <button class="btn btn-success hvr-grow" type="submit">
                <i class="fas fa-save"></i>
                Salvar
            </button>
            <button class="btn btn-danger hvr-grow" id="btn-excluir" type="button">
                <i class="fas fa-trash-alt"></i>
                Excluir
            </button>
            <button class="btn btn-primary hvr-grow" id="btn-renovar-senha" type="button">
                <i class="fas fa-lock"></i>
                Renovar senha
            </button>
        </buttons>
        <alert class='lead'></alert>
    </div>
</form>

<script src='js/usuario-form.js'></script>